<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LocalDir" value="D:\zrec" />
    <add key="FileServerShare" value="\\192.168.11.50\dhksly" />
    <add key="FileServerDir" value="26号眼压室录音" />
    <add key="TSDB" value="192.168.100.61" />
  </appSettings>
</configuration>