<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="LocalDir" value="D:\BaiduDownload" />
    <add key="FileServerShare0" value="\\192.168.12.40\xhksly" />
    <add key="FileServerShare" value="\\192.168.122.128\share" />
    <add key="FileServerDir" value="16号C13检测科室录音" />
    <add key="TSDB" value="10.0.0.27" />
  </appSettings>
</configuration>