<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="label" value="内科" />
    <add key="dir" value="d:\temp\" />
    <add key="server" value="http://10.0.0.13:9680" />
  </appSettings>
</configuration>